#dashboard #content {
  max-width: 800px;
  margin: 0 auto;
}

#dashboard nav .nav-item:hover {
  border-bottom: 3px solid #fff;
}

#dashboard nav .nav-item.active {
  border-bottom: 3px solid #fff;
}

#dashboard nav a.nav-item {
  text-decoration: none;
  color: white;
}

#dashboard #create-team .form-container,
#dashboard .leave-team {
  max-width: 400px;
  margin: 0 auto;
}

#dashboard #content {
  padding-bottom: 10px;
}

#dashboard #puzzle-list .puzzle-item {
  text-decoration: none;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  display: block;
}

#dashboard #puzzle-list .puzzle-item:hover {
  background-color: #040333;
}

#dashboard #team-stats {
  width: 250px;
  border-radius: 3px;
}

#dashboard #leaderboard {
  width: 60%;
}

#dashboard #leaderboard .leaderboard-item:nth-child(odd) {
  background-color: #040333;
}

@media screen and (max-width: 800px) {
  #dashboard #leaderboard,
  #dashboard #team-stats {
    width: 100%;
  }

  #dashboard #team-stats {
    position: relative;
    margin-bottom: 20px;
  }

  #dashboard #profile {
    padding-top: 60px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
