#dashboard #content {
  max-width: 800px;
  margin: 0 auto;
}

#dashboard nav .nav-item:hover {
  border-bottom: 3px solid #fff;
}

#dashboard nav .nav-item.active {
  border-bottom: 3px solid #fff;
}

#dashboard nav a.nav-item {
  text-decoration: none;
  color: white;
}

#dashboard #create-team .form-container {
  max-width: 400px;
  margin: 0 auto;
}

#dashboard #content {
  padding-bottom: 10px;
}

#dashboard #puzzle-list .puzzle-item {
  text-decoration: none;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  display: block;
}

#dashboard #puzzle-list .puzzle-item:hover {
  background-color: #040333;
}
