#puzzle #content {
  max-width: 70%;
  float: left;
}

#content {
  margin: 0 auto;
}

#puzzle {
  display: flex;
  height: 100%;
  justify-content: flex-end;
}

#puzzle #answer {
  float: right;
  margin: 0 10px;
}

#puzzle #user-input {
  width: 100%;
  /* float: left; */
  display: flex;
  justify-content: space-evenly;
}

#puzzle #user-input > .answer-input > input {
  background-color: white;
  border-color: #ccc;
}

#puzzle #user-input,
#puzzle .answer-input,
#puzzle .answer-input > input {
  height: 100%;
  margin: 0;
}

#puzzle .answer-input,
#puzzle .submit-button {
  float: left;
}

/* .answer-input{
    margin-right: 1.5%;
}

.submit-button {
    margin-left: 1.5%;
} */

#puzzle #hints {
  margin: 10px auto;
}

#puzzle #sidebar {
  max-width: 30%;
  height: 100vh;
}

#puzzle #sidebar .input-container {
  position: relative;
}

#puzzle-buttons {
  text-align: center;
  padding-top: 30px;
  position: absolute;
  bottom: 20px;
}

.prev-next {
  background-color: #6fc470;
}

.prev-next:last-child {
  margin-left: 10px;
}

#puzzle-pic {
  height: 100vh;
}

#audio-style {
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  background-color: none;
}

@media screen and (max-width: 1250px) {
  #puzzle-buttons .prev-next {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
  #puzzle-buttons .prev-next:last-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 1100px) {
  #puzzle {
    display: block;
  }
  #puzzle #content {
    width: 100%;
    max-width: 600px;
    float: none;
    height: auto;
    display: block;
  }
  #puzzle #puzzle-pic {
    width: 100%;
    height: auto;
  }

  #puzzle #sidebar {
    width: 100%;
    max-width: none;
    height: auto;
  }

  #puzzle #sidebar .input-container {
    max-width: 600px;
    margin: 0 auto;
  }

  #puzzle-buttons {
    position: relative;
  }

  #puzzle-buttons .prev-next {
    width: auto;
    display: inline-block;
    margin-bottom: 0;
  }

  #puzzle-buttons .prev-next:last-child {
    margin-left: 10px;
  }

  #puzzle #sidebar .input-container .text-input {
    width: 60%;
  }

  #puzzle #sidebar .input-container .submit-button {
    width: 30%;
  }
}
