#puzzle #content {
  max-width: 70%;
  float: left;
}

#puzzle {
  height: 100%;
}

#puzzle #answer {
  float: right;
  margin: 0 10px;
}

#puzzle #user-input {
  width: 100%;
  /* float: left; */
  display: flex;
  justify-content: space-evenly;
}

#puzzle #user-input > .answer-input > input {
  background-color: white;
  border-color: #ccc;
}

#puzzle #user-input,
#puzzle .answer-input,
#puzzle .answer-input > input {
  height: 100%;
  margin: 0;
}

#puzzle .answer-input,
#puzzle .submit-button {
  float: left;
}

/* .answer-input{
    margin-right: 1.5%;
}

.submit-button {
    margin-left: 1.5%;
} */

#puzzle #hints {
  width: 50%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  height: 13vw;
  justify-content: space-evenly;
}

#puzzle #sidebar {
  max-width: 30%;
}

#puzzle .input-container {
  /* float: left; */
  /* height: 25vw; */
  display: flex;
  flex-wrap: wrap;
}
