#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 45%;
  min-width: 325px;
}

#form-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.input-form {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
}

.text {
  display: block;
  color: #efefef;
  text-align: center;
}

input {
  background-color: #efefef;
  width: 100%;
}

.text-input {
  margin-bottom: 5px;
}

textarea:focus,
input:focus {
  background-color: white;
}

a:link {
  color: gold;
}

#registration {
  background-color: #07024f;
  height: 100%;
}

#login {
  background-color: #07024f;
  height: 100%;
}