#logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 45%;
	width: 45%;
}

.inputForm {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 40%;
}

.text {
	display: block;
	margin-left: 30%;
	color: #efefef;
}

input {
	background-color: #efefef;
}

textarea:focus, input:focus {
	background-color: white;
}

a:link {
	color: gold;
}

body {
	background-color: #07024f;
}